__pycache__
.hypothesis
joblib_cache
results_*/**
a.out

hexagon_sdk_*.zip
*.pkl

.vim
.vscode

# Not checked in for legal reasons
comparisons/hexagon/*

# Don't check in Cython output 
build/
morello/**/*.c
morello/**/*.so
