name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  PROPTEST_CASES: 4096
  CLANG: clang

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup toolchain install stable --profile minimal --no-self-update
      - name: Install libomp
        run: |
          sudo apt update
          sudo apt-get install -y libomp-dev
      - uses: Swatinem/rust-cache@v2
      - run: cargo check
      - run: cargo test
      - run: cargo build
      - run: cargo run --example simple_matmul
      - name: Smoke-test 1x1x1 matrix multiplication synthesis
        run: cargo run matmul 1

  build-without-verification:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup toolchain install stable --profile minimal --no-self-update
      - run: cargo build --no-default-features

  smoke-test-precompute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup toolchain install stable --profile minimal --no-self-update
      - uses: Swatinem/rust-cache@v2
      - run: cargo run --bin precompute -- --stages 8 2

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup toolchain install stable --profile default --no-self-update
      - run: cargo fmt --all -- --check

  bench:
    runs-on: ubuntu-22.04
    steps:
      - run: |
          sudo apt-fast update -qq
          DEBIAN_FRONTEND='noninteractive' sudo apt install --no-install-recommends -yq valgrind
      - uses: actions/checkout@v3
      - run: cargo install --version 0.4.0 iai-callgrind-runner
      - name: Run benchmarks
        run: cargo bench --verbose
